---
const { color, title, subtitle, id, imageSrc, name, description, showFooterContent } = Astro.props;
const textColor = 'text-black';
import FooterMenu from './FooterMenu.astro';
---


<section
  class="landing-section bg-white min-h-screen w-full text-center overflow-hidden relative"
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative min-h-screen flex flex-col items-center">
    <header>
      <h2 class={`${textColor} pt-20 text-[40px] font-medium`}>
        {title}
      </h2>
      <p class={`text-black text-sm`} style="background-color: transparent; padding: 50px 20px; line-height: 1.6; margin: 0 auto; max-width: 800px; font-size: 18px;">
        {subtitle}
      </p>
    </header>

    <div class="flex flex-row items-start justify-start mt-6">
      <img src={imageSrc} alt={name} class="w-32 h-32 rounded-full object-cover" />
      <div class="flex flex-col items-start ml-6">
        <h3 class="text-lg font-semibold mt-4">{name}</h3>
        <div class="border-t border-gray-300 w-20 my-2"></div>
        <p class="text-gray-600 text-sm">{description}</p>
      </div>
    </div>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <slot name="footer" />
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>
